
<div class="row">
<%= form_for @task do |f| %>

  <div class="input-field col s12">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="input-field col s12 materialize-textarea">
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
  <div class="waves-effect waves-light btn-small">
    <%= f.submit %>
  </div>

<% end %>
</div>


